<hlm-tabs [tab]="abaAtiva()" (tabActivated)="onAbaChange($event)" class="w-full">
	<hlm-tabs-list variant="line" class="mx-auto w-full max-w-xl h-12">
		<button hlmTabsTrigger="home" class="cursor-pointer after:bg-green-600">Fazendas</button>
		@if (this.usuario() != null && this.usuario()?.admin) {
		<button hlmTabsTrigger="administracao" class="cursor-pointer after:bg-green-600">Administração</button>
		}
	</hlm-tabs-list>

	<div hlmTabsContent="home" class="w-full">
		@if (abaAtiva() === 'home') {
		<div class="flex w-full items-center justify-end gap-2">
			<button hlmBtn variant="outline" size="sm" class="h-10 px-4 text-sm botaoAdd font-semibold"
				(click)="adicionarFazenda()">
				<ng-icon name="lucideHousePlus" />
				Adicionar Fazenda
			</button>
		</div>

		<app-fazenda-table [fazendas]="fazendas()" [paginaAtual]="paginaAtual()" [totalPaginas]="totalPaginas()"
			(mudarPagina)="onMudarPagina($event)" (editar)="onEditar($event)" (excluir)="onExcluir($event)"
			(verDetalhes)="onVerDetalhes($event)" (compartilhar)="compartilhar($event)"/>
		}
	</div>

	<div hlmTabsContent="administracao" class="w-full">
		@if (abaAtiva() === 'administracao') {

		<div class="flex w-full items-center justify-end gap-2">
			<button hlmBtn variant="outline" size="sm" class="h-10 px-4 text-sm botaoAdd font-semibold"
				(click)="adicionarUsuario()">
				<ng-icon name="lucideUserPlus" />
				Adicionar usuário
			</button>
		</div>
		<app-administracao-table  [recarregar]="carregarUsuarios()"/>
		}
	</div>
</hlm-tabs>